<p id="notice"><%= notice %></p>

<h1>Grupos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Miembros</th>
      <th>Fecha debut</th>
      <th>Género</th>
      <th>Conciertos</th>
      <th>Asistencia Total</th>
      <th>Fecha Concierto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.member %></td>
        <td><%= group.debut_date %></td>
        <td><%= group.gender %></td>
        <td><%= group.concert_count %></td>
        <td>
          <ul>
            <%# Asistencia total %>
            <% group.concert.each do |total_p| %>
              <li style="list-style: none"> <%= total_p.participant %> </li>
            <% end %>
          </ul>
        </td>
        <td>
          <ul>
            <%# Fecha del concierto %>
            <% group.concert.each do |concert_d| %>
              <li style="list-style: none"> <%= concert_d.date_concert %> </li>
            <% end %>
          </ul>
        </td>
        <td><%= link_to 'Ver', group %></td>
        <td><%= link_to 'Editar', edit_group_path(group) %></td>
        <td><%= link_to 'Eliminar', group, method: :delete, data: { confirm: "Va a eliminar al grupo: #{group.name}\n\n¿Está seguro?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= link_to 'Nuevo Grupo', new_group_path, class: "btn btn-outline-success" %>
  <%= link_to 'Ver Conciertos', concerts_path, class: "btn btn-outline-primary" %>
</div>