<%= form_with(model: concert, local: true) do |form| %>
  <% if concert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(concert.errors.count, "error") %> prohibited this concert from being saved:</h2>

      <ul>
      <% concert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong><%= form.label :date_concert, "Fecha del concierto" %></strong>
    <%= form.date_select :date_concert %>
  </div>

  <div class="field">
    <strong><%= form.label :participant, "Participantes" %></strong>
    <%= form.number_field :participant %>
  </div>

  <div class="field">
    <strong><%= form.label :duration, "Duración" %></strong>
    <%= form.number_field :duration %>
  </div>

  <div class="field">
    <strong><%= form.label :group_id, "Grupo" %></strong>
    <%= form.select :group_id, options_from_collection_for_select(@groups, :id, :name) %>
  </div>

  <div class="actions">
    <%= form.submit "Crear Concierto", class: "btn btn-outline-success" %>
    <%= link_to 'Volver', concerts_path, class: "btn btn-outline-primary" %>
  </div>
<% end %>
